/* VARIABLES */

:root {
   --yellow:  #FCB72B;
   --navy: #495567;
   --dimgray: #939CAA;
   --lightgray: #E5ECF4;
   --snow: #F2F5F9;
   --lightyellow: #FFF4DF;
}

/* FONTS */

@font-face {
   font-family: 'Space Mono';
   font-display: swap;
   font-weight: 400;
   src: url('../fonts/space-mono-v11-latin-regular.woff2') format('woff2'),
   url('../fonts/space-mono-v11-latin-regular.woff') format('woff');
}

@font-face {
   font-family: 'Space Mono';
   font-display: swap;
   font-weight: 700;
   src: url('../fonts/space-mono-v11-latin-700.woff2') format('woff2'),
   url('../fonts/space-mono-v11-latin-700.woff') format('woff');
}

@font-face {
   font-family: 'Lexend Deca';
   font-display: swap;
   font-weight: 400;
   src: url('../fonts/lexend-deca-v17-latin-regular.woff2') format('woff2'),
   url('../fonts/lexend-deca-v17-latin-regular.woff') format('woff');
}

@font-face {
   font-family: 'Lexend Deca';
   font-display: swap;
   font-weight: 700;
   src: url('../fonts/lexend-deca-v17-latin-700.woff2') format('woff2'),
   url('../fonts/lexend-deca-v17-latin-700.woff') format('woff');
}

/* GENERAL */

*,
*::before,
*::after {
   box-sizing: inherit;
}

html {
   height: 100%;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   display: flex;
   flex-direction: column;
   height: 100%;
   margin: 0;
   padding: 0;
   font-size: 15px;
   font-family: "Lexend Deca", "Arial", sans-serif;
   overflow-x: hidden;
}

img {
   display: block;
   height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-family: "Space Mono", "Courier New", monospace;
   
}

p {
   margin: 0;
   color: var(--dimgray);
}

ul,
ol {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

a {
   font-family: "Space Mono", "Courier New", monospace;
}

.link {
   font-weight: 700;
   font-size: 15px;
   line-height: 25px;
   color: var(--dimgray);
   text-decoration: none;
   display: inline-block;
   transition: all 0.2s ease;
}

.button {
   display: inline-block;
   font-weight: 700;
   font-size: 15px;
   line-height: 25px;
   text-align: center;
   color: #FFFFFF;
   background-color: var(--yellow);
   padding: 14px 39px;
   text-decoration: none;
   transition: all 0.2s ease;
}

.button:hover {
   color: var(--yellow);
   background-color: #FFFFFF;
   box-shadow: inset 0 0 0 3px var(--yellow);
}

.button:active {
   opacity: 0.4;
}

/* CONTAINER */

.container {
   width: 1146px;
   margin-right: auto;
   margin-left: auto;
   padding-right: 20px;
   padding-left: 20px;
}

/* VISUALLY-HIDDEN */

.visually-hidden  {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* STICKY-FOOTER */

.site-main {
   flex-grow: 1;
}

/* HEADER START */

.site-header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   padding-top: 22px;
   padding-bottom: 21px;
   background-color: #FFFFFF;
}

.site-header__inner {
   display: flex;
   align-items: center;
}

.logo {
   margin-right: 58px;
}

.nav {
   margin-right: auto;
}

.nav__list {
   display: flex;
   align-items: center;
}

.nav__item:nth-child(2) {
   margin-right: 32px;
   margin-left: 32px;
}

.link:hover {
   color: var(--yellow);
}

.link:active {
   color: #fcb62bb6;
}

/* HERO START */

.hero {
   position: relative;
   margin-top: 96px;
   padding-top: 163px;
   padding-bottom: 162px;
   background-image: url("../images/hero-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
   
   .hero {
      background-image: url("../images/hero-bg@2x.jpg");
   }
   
   .about-hero {
      background-image: url("../images/about-bg@2x.jpg");
   }
}

.hero__text-wrapper {
   width: 500px;
}

.hero__heading {
   font-size: 56px;
   line-height: 56px;
   letter-spacing: -2.5px;
   color: #FFFFFF;
   margin-bottom: 40px;
}

.hero__text {
   position: relative;
   font-size: 15px;
   line-height: 25px;
   color: #FFFFFF;
   margin-bottom: 40px;
   margin-left: 95px;
}

.hero__text::before {
   position: absolute;
   top: calc(50% - 10px);
   left: calc(50% - 505px);
   width: 203px;
   height: 15px;
   background-image: url("../images/hero-line.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.hero__text::after {
   position: absolute;
   top: calc(50% - 10px);
   right: calc(50% - 700px);
   width: 452px;
   height: 151px;
   background-image: url("../images/hero-arrow.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.hero__link {
   color: #FFFFFF;
   margin-left: 95px;
}

.hero__link:hover {
   background-color: transparent;
}

.hero__circle-wrapper {
   position: absolute;
   bottom: calc(50% - 170px);
   right: calc(50% - 808px);
}

.hero__circle {
   display: inline-block;
   width: 62px;
   height: 62px;
   border-radius: 50%;
   border: 3px solid #FFFFFF;
}

.hero__circle:last-child {
   background-color: #FFFFFF;
}

.hero__circle:not(:last-child) {
   margin-right: 24px;
}

/* ABOUT HERO START */

.about-hero {
   margin-top: 106px;
   padding-top: 62px;
   padding-bottom: 82px;
   background-image: url("../images/about-bg.jpg");
   background-size: contain;
}

.about-hero__inner {

}

.about-hero__heading {
   font-size: 56px;
   line-height: 56px;
   letter-spacing: -2.5px;
   color: #FFFFFF;
}

/* LOCATION START */

.location {
   position: relative;
   padding-top: 296px;
   padding-bottom: 200px;
}

.location__line {
   position: absolute;
   top: calc(50% - 120px);
   left: 0;
   z-index: -1;
   display: inline-block;
   width: 973px;
   height: 15px;
   background-color: var(--lightgray);
}

.location__list {
   display: flex;
}

.location__item {
   position: relative;
   width: 380px;
   padding-right: 25px;
}

.location__item::before {
   position: absolute;
   top: -136px;
   left: 0;
   width: 96px;
   height: 96px;
   border-radius: 50%;
   background-color: var(--yellow);
   background-repeat: no-repeat;
   background-position: center;
   content: "";
}

.location__item:nth-child(1):before {
   background-image: url("../images/location-phone.svg");
}

.location__item:nth-child(2):before {
   background-image: url("../images/location-scooter.svg");
}

.location__item:nth-child(3):before {
   background-image: url("../images/location-riding.svg");
}

.location__item-title {
   font-size: 24px;
   line-height: 28px;
   letter-spacing: -1.07143px;
   color: var(--navy);
   margin-bottom: 27px;
}

.location__item-desc {
   font-size: 15px;
   line-height: 25px;
}

/* ADVANTAGESS START */

.site-main__advantages {
   padding-bottom: 200px;
}

.site-about__advantages {
   margin-bottom: -95px;
   padding-top: 120px;
   padding-bottom: 120px;
}

.advantages {
   
}

.advantages__item {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.advantages__item:nth-child(2) {
   margin-top: 160px;
   margin-bottom: 160px;
}

.advantages__item:nth-child(1) > .advantages__item-img::before {
   position: absolute;
   bottom: 0;
   left: calc(50% - 312px);
   z-index: 1;
   width: 741px;
   height: 151px;
   background-image: url("../images/career-woomen-before.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.advantages__item:nth-child(1) > .advantages__item-img::after {
   position: absolute;
   bottom: 0;
   left: 509px;
   width: 445px;
   height: 445px;
   background-image: url("../images/career-after-cercle.png");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.advantages__item:nth-child(2) > .advantages__item-img::before {
   position: absolute;
   top: 0;
   left: calc(50% - 770px);
   z-index: 1;
   width: 741px;
   height: 151px;
   background-image: url("../images/career-city-before.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.advantages__item:nth-child(2) > .advantages__item-img::after {
   position: absolute;
   bottom: 0;
   right: 509px;
   width: 445px;
   height: 445px;
   background-image: url("../images/career-after-cercle.png");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.advantages__item:nth-child(3) > .advantages__item-img::before {
   position: absolute;
   top: calc(50% - 145px);
   left: calc(50% - -25px);
   z-index: 1;
   width: 741px;
   height: 151px;
   background-image: url("../images/career-woomen-before.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.advantages__item:nth-child(3) > .advantages__item-img::after {
   position: absolute;
   bottom: 0;
   left: 509px;
   width: 445px;
   height: 445px;
   background-image: url("../images/career-after-cercle.png");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.advantages__item-info {
   width: 445px;
}

.advantages__item-title {
   font-size: 48px;
   line-height: 48px;
   letter-spacing: -2.14286px;
   color: var(--navy);
   margin-bottom: 24px;
}

.advantages__item-desc {
   font-size: 15px;
   line-height: 25px;
   margin-bottom: 40px;
}

.advantages__item-img {
   position: relative;
   border-radius: 50%;
}

.advantages__item-img > img {
   width: 445px;
   height: 445px;
   border-radius: 50%;
}

/* ARTICLE START */

.article {
   position: relative;
   padding-top: 102px;
   padding-bottom: 102px;
   background-color: var(--navy);
   overflow: hidden;
}

.article::after {
   position: absolute;
   right: calc(50% - 890px);
   bottom: calc(50% - 360px);
   width: 1161px;
   height: 363px;
   background-image: url("../images/article-cercles.svg");
   content: "";
}

.article__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.article__title {
   font-size: 48px;
   line-height: 48px;
   letter-spacing: -2.14286px;
   color: #FFFFFF;
   
}

.article__apps-wrapper {
   display: flex;
}

.article__appstore {
   margin-right: 18px;
   padding: 8px 20px;
   border-radius: 4px;
   background-color: var(--lightgray);
   display: flex;
   align-items: center;
}

.article__appstore-texts {
   margin-left: 12px;
}

.article__appstore-info {
   font-weight: 700;
   font-size: 10px;
   line-height: 15px;
   letter-spacing: -0.446429px;
   color: var(--navy);
}

.article__appstore-name {
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: -0.892857px;
   color: var(--navy);
}

.article__google {
   padding-right: 20px;
   padding-left: 20px;
   border-radius: 4px;
   background-color: var(--lightgray);
   display: flex;
   align-items: center;
}

.article__google-texts {
   margin-left: 12px;
}

/* FOOTER START */

.site-footer {
   padding-top: 35px;
   padding-bottom: 32px;
   background-color: #333A44;
}

.site-footer__inner {
   display: flex;
   align-items: center;
}

.site-footer__list {
   display: flex;
   align-items: center;
}

.site-footer__item:nth-child(2) {
   margin-right: 24px;
   margin-left: 24px;
}

.site-footer__link {
   color: var(--yellow);
}

.site-footer__link:hover {
   color: #FFFFFF;
}