/* VARIABLES */

:root {
   --yellow:  #FCB72B;
   --navy: #495567;
   --dimgray: #939CAA;
   --lightgray: #E5ECF4;
   --snow: #F2F5F9;
   --lightyellow: #FFF4DF;
}

/* FONTS */

@font-face {
   font-family: 'Space Mono';
   font-display: swap;
   font-weight: 400;
   src: url('../fonts/space-mono-v11-latin-regular.woff2') format('woff2'),
   url('../fonts/space-mono-v11-latin-regular.woff') format('woff');
}

@font-face {
   font-family: 'Space Mono';
   font-display: swap;
   font-weight: 700;
   src: url('../fonts/space-mono-v11-latin-700.woff2') format('woff2'),
   url('../fonts/space-mono-v11-latin-700.woff') format('woff');
}

@font-face {
   font-family: 'Lexend Deca';
   font-display: swap;
   font-weight: 400;
   src: url('../fonts/lexend-deca-v17-latin-regular.woff2') format('woff2'),
   url('../fonts/lexend-deca-v17-latin-regular.woff') format('woff');
}

@font-face {
   font-family: 'Lexend Deca';
   font-display: swap;
   font-weight: 700;
   src: url('../fonts/lexend-deca-v17-latin-700.woff2') format('woff2'),
   url('../fonts/lexend-deca-v17-latin-700.woff') format('woff');
}

/* GENERAL */

*,
*::before,
*::after {
   box-sizing: inherit;
}

html {
   height: 100%;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   display: flex;
   flex-direction: column;
   height: 100%;
   margin: 0;
   padding: 0;
   font-size: 15px;
   font-family: "Lexend Deca", "Arial", sans-serif;
}

img {
   display: block;
   height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;

}

p {
   margin: 0;
   color: var(--dimgray);
}

ul,
ol {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

/* CONTAINER */

.container {
   width: 1146px;
   margin-right: auto;
   margin-left: auto;
   padding-right: 20px;
   padding-left: 20px;
}

/* VISUALLY-HIDDEN */

.visually-hidden  {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* STICKY-FOOTER */

.site-main {
   flex-grow: 1;
}