/* VARIABLES */

:root {
   --yellow:  #FCB72B;
   --navy: #495567;
   --dimgray: #939CAA;
   --lightgray: #E5ECF4;
   --snow: #F2F5F9;
   --lightyellow: #FFF4DF;
}

/* FONTS */

@font-face {
   font-family: 'Space Mono';
   font-display: swap;
   font-weight: 400;
   src: url('../fonts/space-mono-v11-latin-regular.woff2') format('woff2'),
   url('../fonts/space-mono-v11-latin-regular.woff') format('woff');
}

@font-face {
   font-family: 'Space Mono';
   font-display: swap;
   font-weight: 700;
   src: url('../fonts/space-mono-v11-latin-700.woff2') format('woff2'),
   url('../fonts/space-mono-v11-latin-700.woff') format('woff');
}

@font-face {
   font-family: 'Lexend Deca';
   font-display: swap;
   font-weight: 400;
   src: url('../fonts/lexend-deca-v17-latin-regular.woff2') format('woff2'),
   url('../fonts/lexend-deca-v17-latin-regular.woff') format('woff');
}

@font-face {
   font-family: 'Lexend Deca';
   font-display: swap;
   font-weight: 700;
   src: url('../fonts/lexend-deca-v17-latin-700.woff2') format('woff2'),
   url('../fonts/lexend-deca-v17-latin-700.woff') format('woff');
}

/* GENERAL */

*,
*::before,
*::after {
   box-sizing: inherit;
}

html {
   height: 100%;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   display: flex;
   flex-direction: column;
   height: 100%;
   margin: 0;
   padding: 0;
   font-size: 15px;
   font-family: "Lexend Deca", "Arial", sans-serif;
}

img {
   display: block;
   height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-family: "Space Mono", "Courier New" monospace;
   
}

p {
   margin: 0;
   color: var(--dimgray);
}

ul,
ol {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

a {
   font-family: "Space Mono", "Courier New" monospace;
}

/* CONTAINER */

.container {
   width: 1146px;
   margin-right: auto;
   margin-left: auto;
   padding-right: 20px;
   padding-left: 20px;
}

/* VISUALLY-HIDDEN */

.visually-hidden  {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* STICKY-FOOTER */

.site-main {
   flex-grow: 1;
}

/* HEADER START */

.site-header {
   margin-top: 22px;
   margin-bottom: 21px;
   background-color: #FFFFFF;
}

.site-header__inner {
   display: flex;
   align-items: center;
}

.logo {
   margin-right: 58px;
}

.logo__img {
   
}

.nav {
   margin-right: auto;
}

.nav__list {
   display: flex;
   align-items: center;
}

.nav__item {
   
}

.nav__item:nth-child(2) {
   margin-right: 32px;
   margin-left: 32px;
}

.link {
   font-weight: 700;
   font-size: 15px;
   line-height: 25px;
   color: var(--dimgray);
   text-decoration: none;
   transition: all 0.2s ease;
}

.link:hover {
   color: var(--yellow);
}

.link:active {
   color: #fcb62bb6;
}

.site-header__end-link {
   font-weight: 700;
   font-size: 15px;
   line-height: 25px;
   text-align: center;
   color: #FFFFFF;
   background-color: var(--yellow);
   padding: 14px 39px;
   text-decoration: none;
   transition: all 0.2s ease;
}

.site-header__end-link:hover {
   color: var(--yellow);
   background-color: #FFFFFF;
   box-shadow: inset 0 0 0 3px var(--yellow);
}

.site-header__end-link:active {
   opacity: 0.4;
}